<div class="modal fade" id="addCard" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="modal-title" data-bind="text: cardAmounts().cardName"></h1>

            </div>
            <div class="modal-body">
                <table class="table table-hover" style="width: 100%">
                    <tbody>
                        <tr>
                            <th width="10%"></th>
                            <th>
                                <label>Library</label>
                            </th>
                            <th width="5%">
                                <div class="centerWrapper">
                                    <i class="fa fa-minus-circle fa-lg notAllowed" data-bind="click: deincrementAmount.bind($data, 'lib', 'library' ), attr: {id: 'minus_lib'} " aria-hidden="true"></i>
                                </div>
                            </th>
                            <th width="10%">
                                <input id="cardNumber" class="k-textbox advanced-search" data-bind="textInput: cardAmounts().libraryAmount, attr: {id: 'amount_lib'}" style="width:50px" />
                            </th>
                            <th width="5%">
                                <div class="centerWrapper">
                                    <i class="fa fa-plus-circle fa-lg pointer" data-bind="click: incrementAmount.bind($data, 'lib', 'library')" aria-hidden="true"></i>
                                </div>
                            </th>
                            <th width="10%"></th>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover" style="width: 100%">
                    <tbody>
                        <!-- ko foreach: cardAmounts().deckInfo-->
                        <tr>
                            <th width="10%"></th>
                            <th>
                                <!-- ko if: deckName -->
                                <label><span data-bind="text: deckName"></span></label>
                                <!-- /ko -->
                                <!-- ko ifnot: deckName -->
                                <input id="newDeck" class="k-textbox advanced-search" data-bind="textInput: deckName" value=""/>
                                <!-- /ko -->
                            </th>
                            <th width="5%">
                                <div class="centerWrapper">
                                    <i class="fa fa-minus-circle fa-lg" data-bind="click: $parent.deincrementAmount.bind($data, $index(), deckName), attr: {id: 'minus_' + $index()}, css: deckAmount() == 0 ? 'notAllowed' : 'pointer'" aria-hidden="true"></i>
                                </div>
                            </th>
                            <th width="10%">
                                <input class="k-textbox advanced-search" data-bind="textInput: deckAmount, attr: {id: 'amount_' + $index()}" style="width: 50px" />
                            </th>
                            <th width="5%">
                                <div class="centerWrapper">
                                    <i class="fa fa-plus-circle fa-lg pointer" autocomplete="off" data-bind="click: $parent.incrementAmount.bind($data, $index(), deckName)" aria-hidden="true"></i>
                                </div>
                            </th>
                            <th width="10%"></th>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <span class="btn btn-default" data-dismiss="modal">Close</span>
                <span data-bind="click: saveCardAdd(selectedCard, cardAmounts)" class="btn btn-primary" data-dismiss="modal">Add</span>
            </div>
        </div>
    </div>
</div>

