@using MTG.Helpers
@model MTG.Entities.Models.MyLibraryModel
@{
    ViewBag.Title = "All Cards";
    Layout = "~/Views/Shared/_CardsLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HI</title>
</head>
<body>
    <div class="jumbotron">
        <h1>My Library</h1>
    </div>
    <div class="row">
        <!-- ko foreach: sets-->
        <h1><span class="setHeaders" data-bind="text: name"></span> </h1>
        <!-- ko foreach: cards-->
        <div class="col-md-3">
            <div class="card-box">
                @* data-bind="attr: {id: id}, event: { mouseover: $parent.hoverOverCard.bind($data, id), mouseout: $parent.hoverOffCard.bind($data, id)}">*@
                <a data-bind="attr: {href: url}">
                    <img data-bind="attr: {src: src}"/>
                </a>
                <div class="positioner">
                    <button id="AddCardIcon" align="right"><b><span data-bind="text: amount"></span></b></button>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</body>
</html>

@Scripts.Render("~/scripts/app")

@section scripts{
    <script type="text/javascript">
        $(function () {
            var page = new MyLibrary(@Html.JsonFor(Model));

            ko.options.deferUpdates = true;
            ko.applyBindings(page.viewModel, $('#allCards')[0]);

        })
    </script>

}
