@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="home">
        <div class="home-title"><a href="/Cards/Index">Search</a> | <a href="/Decks/Index">Build</a> | <a href="/Home/Index">Play</a></div>
    </div>
</body>
</html>
